@model Shop.Web.Models.ProductViewModel
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<div class=" single_top">
    <div class="single_grid">
        <div class="grid images_3_of_2">
            <ul id="etalage">
                <li>
                    <a href="#">
                        <img class="etalage_thumb_image img-responsive" src="@Model.Image" />
                        <img class="etalage_source_image img-responsive" src="@Model.Image" title="" />
                    </a>
                </li>
                @{
                    var moreImages = (List<string>)ViewBag.MoreImages;
                    if (moreImages.Count > 0)
                    {
                        foreach (var image in moreImages)
                        {
                            <li>
                                <img class="etalage_thumb_image img-responsive" src="@image" />
                                <img class="etalage_source_image img-responsive" src="@image" title="" />
                            </li>
                        }
                    }
                }

            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="desc1 span_3_of_2">


            <h4>@Model.Name</h4>
            <div class="cart-b">
                <div class="left-n ">@Model.PromotionPrice</div>
                <a class="now-get get-cart-in" href="#">Mua hàng</a>
                <div class="clearfix"></div>
            </div>
            <h6>100 items in stock</h6>
            <p>@Model.Description</p>
            <div class="tag">
                <h5>Tag :</h5>
                <ul class="taglist">
                    @foreach (var tag in (IEnumerable<Shop.Web.Models.TagViewModel>)ViewBag.Tags)
                    {
                        <li><a href="/product/tag/@(tag.ID)">@(tag.Name), </a></li>
                    }

                </ul>
            </div>
            <div class="clearfix"> </div>
            <div class="share">
                <h5>Chia sẻ :</h5>
                <ul class="share_nav">
                    <li><a href="#"><img src="~/Assets/client/images/facebook.png" title="facebook"></a></li>
                    <li><a href="#"><img src="~/Assets/client/images/twitter.png" title="Twiiter"></a></li>
                    <li><a href="#"><img src="~/Assets/client/images/rss.png" title="Rss"></a></li>
                    <li><a href="#"><img src="~/Assets/client/images/gpluse.png" title="Google+"></a></li>
                </ul>
            </div>


        </div>
        <div class="clearfix"> </div>
    </div>
    <ul id="flexiselDemo1">
        <li><img src="~/Assets/client/images/pi.jpg" /><div class="grid-flex"><a href="#">Bloch</a><p>Rs 850</p></div></li>
        <li><img src="~/Assets/client/images/pi1.jpg" /><div class="grid-flex"><a href="#">Capzio</a><p>Rs 850</p></div></li>
        <li><img src="~/Assets/client/images/pi2.jpg" /><div class="grid-flex"><a href="#">Zumba</a><p>Rs 850</p></div></li>
        <li><img src="~/Assets/client/images/pi3.jpg" /><div class="grid-flex"><a href="#">Bloch</a><p>Rs 850</p></div></li>
        <li><img src="~/Assets/client/images/pi4.jpg" /><div class="grid-flex"><a href="#">Capzio</a><p>Rs 850</p></div></li>
    </ul>


    <div class="toogle">
        <h3 class="m_3">Chi tiết sản phẩm</h3>
        <p class="m_text"> @Model.Content</p>
    </div>
</div>
@section detailJs{

    <link href="~/Assets/client/css/etalage.css" rel="stylesheet" />
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 5,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });

        });
    </script>
    <link href="~/Assets/client/css/custom.css" rel="stylesheet" />
    <script src="~/Assets/client/js/jquery.flexisel.js"></script>
    <script src="~/Assets/client/js/jquery.etalage.min.js"></script>
}

